<ion-content>
    <swiper class="swiper" [config]="swiperConfig">
        <div>
            <img src="assets/images/home-banner-01.png" />
        </div>
    </swiper>
</ion-content>
<ion-footer>
    <ion-row>
        <ion-col
            [size]="3"
            class="ion-no-padding">
            <img src="assets/images/home-01.png" />
        </ion-col>
        <ion-col
            [size]="3"
            class="ion-no-padding">
            <img src="assets/images/home-02.png" />
        </ion-col>
        <ion-col
            [size]="3"
            class="ion-no-padding">
            <img src="assets/images/home-03.png" />
        </ion-col>
        <ion-col
            [size]="3"
            class="ion-no-padding">
            <img src="assets/images/home-04.png" />
        </ion-col>
        <ion-col
            [size]="3"
            class="ion-no-padding"
            [routerLink]="['/renovate']">
            <img src="assets/images/home-05.png" />
        </ion-col>
        <ion-col
            [size]="3"
            class="ion-no-padding">
            <img src="assets/images/home-06.png" />
        </ion-col>
        <ion-col
            [size]="3"
            class="ion-no-padding">
            <img src="assets/images/home-07.png" />
        </ion-col>
        <ion-col
            [size]="3"
            class="ion-no-padding">
            <img src="assets/images/home-08.png" />
        </ion-col>
    </ion-row>
</ion-footer>